body{
  background-image: url("https://www.novascotia.com/sites/default/files/2020-09/Graves-Island-camping-stars.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cover-container{
  max-width: 60vw;
}
.des{
  color: beige;
}
.mid{
  margin: auto;
}
.but{
  color: beige;
}

.but:hover{
  border: black 2px solid;
  box-shadow: 2px 1px 4px 0.4px  greenyellow;
  color: beige;
}